/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	// -moz-text-size-adjust: 100%;
	// -webkit-text-size-adjust: 100%;
	font-family: 'StratosSkyeng', Arial, sans-serif;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

@font-face {
	font-family: 'StratosSkyeng';
	src: url(../fonts/stratosskyeng-regular.otf);
}

.content {
	height: 100vh;
	background: #004980;
	display: flex;
	justify-content: center;
	align-items: center;
}
.choose-difficulty {
	height: 480px;
	width: 459px;
	background: #c2f5ff;
	border-radius: 12px;
	padding: 52px 69px 48px;
	&__title {
		font-size: 40px;
		line-height: 48px;
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #004980;
		margin: 0 0 48px 0;
	}
	&__difficulty-row {
		display: flex;
		gap: 24px;
		justify-content: center;
		margin: 0 0 67px 0;
	}
	&__real-radio {
		display: none;
	}
	&__custom-radio {
		height: 98px;
		width: 98px;
		background: #ffffff;
		border-radius: 12px;
		font-size: 64px;
		line-height: 72px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #0080c1;
	}
	&__start-button {
		width: 246px;
		height: 50px;
		background: #7ac100;
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		font-size: 24px;
		line-height: 32px;
		color: #ffffff;
	}
}
