@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  font-family: "StratosSkyeng", Arial, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "StratosSkyeng";
  src: url(../fonts/stratosskyeng-regular.otf);
}
body {
  background: #004980;
}

.content {
  min-height: 100vh;
  background: #004980;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-difficulty {
  height: 480px;
  width: 459px;
  background: #c2f5ff;
  border-radius: 12px;
  padding: 52px 69px 48px;
}
.choose-difficulty__title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #004980;
  margin: 0 0 48px 0;
}
.choose-difficulty__difficulty-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 0 67px 0;
}
.choose-difficulty__real-radio {
  display: none;
}
.choose-difficulty__custom-radio {
  height: 98px;
  width: 98px;
  background: #ffffff;
  border-radius: 12px;
  font-size: 64px;
  line-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0080c1;
}
.choose-difficulty__start-button {
  width: 246px;
  height: 50px;
  background: #7ac100;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.game {
  width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  background: #004980;
  padding: 22px 22px 49px;
}
.game__menu {
  margin-bottom: 46px;
}
.game__game-place {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
}

.menu {
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.menu__timer {
  height: 91px;
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu__timer-words {
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  display: flex;
  gap: 57px;
  padding-right: 5px;
}
.menu__timer-numbers {
  font-style: normal;
  font-size: 64px;
  line-height: 45px;
  color: #ffffff;
}
.menu__button {
  align-self: center;
  width: 246px;
  height: 50px;
  background: #7ac100;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 30px;
}

.card__wrapper {
  background: #ffffff;
  border-radius: 4px;
}
.card__back-side {
  height: 100%;
  padding: 6px;
  background: #e4fbff;
  border-radius: 4px;
}
.card__img {
  border-radius: 4px;
  height: 100%;
  width: 100%;
}