/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	// -moz-text-size-adjust: 100%;
	// -webkit-text-size-adjust: 100%;
	font-family: 'StratosSkyeng', Arial, sans-serif;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

@font-face {
	font-family: 'StratosSkyeng';
	src: url(../fonts/stratosskyeng-regular.otf);
}

body {
	background: #004980;
}

.content {
	min-height: 100vh;
	background: #004980;
	display: flex;
	justify-content: center;
	align-items: center;
}
.choose-difficulty {
	height: 480px;
	width: 459px;
	background: #c2f5ff;
	border-radius: 12px;
	padding: 52px 69px 48px;
	&__title {
		font-size: 40px;
		line-height: 48px;
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #004980;
		margin: 0 0 48px 0;
	}
	&__difficulty-row {
		display: flex;
		gap: 24px;
		justify-content: center;
		margin: 0 0 67px 0;
	}
	&__real-radio {
		display: none;
	}
	&__custom-radio {
		height: 98px;
		width: 98px;
		background: #ffffff;
		border-radius: 12px;
		font-size: 64px;
		line-height: 72px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #0080c1;
	}
	&__start-button {
		width: 246px;
		height: 50px;
		background: #7ac100;
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		font-size: 24px;
		line-height: 32px;
		color: #ffffff;
	}
}

.game {
	width: 1024px;
	margin: 0 auto;
	min-height: 100vh;
	background: #004980;
	padding: 22px 22px 49px;
	&__menu {
		margin-bottom: 46px;
	}

	&__game-place {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		gap: 15px;
	}
}
.menu {
	height: 90px;
	display: flex;
	justify-content: space-between;

	&__timer {
		height: 91px;
		width: 155px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__timer-words {
		font-size: 16px;
		line-height: 32px;
		color: #ffffff;
		display: flex;
		gap: 57px;
		padding-right: 5px;
	}

	&__timer-numbers {
		font-size: 64px;
		line-height: 45px;
		color: #ffffff;
	}

	&__button {
		align-self: center;
		width: 246px;
		height: 50px;
		background: #7ac100;
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		line-height: 32px;
		color: #ffffff;
		margin-top: 30px;
	}
}

.card {
	&__wrapper {
		background: #ffffff;
		border-radius: 4px;
	}

	&__back-side {
		height: 100%;
		padding: 6px;
		background: #e4fbff;
		border-radius: 4px;
	}

	&__img {
		border-radius: 4px;
		height: 100%;
		width: 100%;
	}
}

.endwrapper {
	position: absolute;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&::before {
		content: '';
		background: #000;
		position: fixed; 
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%;
		opacity: 0.2;
		z-index: 2;	
	}
}
.finalmenu {
	width: 480px;
	height: 459px;
	background: #c2f5ff;
	border-radius: 12px;
	padding: 27px 0px 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;

	&__image {
		margin-bottom: 5px;
	}

	&__title {
		font-size: 40px;
		line-height: 48px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #004980;
		margin-bottom: 30px;
	}
	&__subtitle {
		font-size: 24px;
		line-height: 32px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
		margin-bottom: 15px;
	}

	&__timer-numbers {
		color: #000000;
		font-size: 64px;
		line-height: 72px;
		margin-bottom: 40px;
	}

	&__button {
		margin-top: 0px;
	}
}
